.product-details-container{
    display: flex;
    flex-direction: column;
    background-color:  #F8F8F9;
    border-radius: 10px;
    padding: 10px;
}

.product-image-container{
    display: flex;
    flex:1;
    padding: 30px;
}

.product-image{
    width: 100%;
    object-fit: contain;
    background-color: transparent;
}

.product-title{
    padding: 8px 8px 4px 8px ;
    font-weight: bold;
}

.product-origin{
    padding: 2px 8px ;
    font-size: 14px;
    color: gray;
}

.price-button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}

.product-price{
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

.product-button-container{
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button{
    width:20px ;
}